.card{

    font-family:'poppins',sans-serif;
      font-weight: 400;
      background-color: #ffffff;
      
}
.card h2{
    font-family:'poppins',sans-serif;
    font-size: 22px;
    margin-top: 20px;
   
}
.card a{
    font-family:'poppins',sans-serif;
    background: #0DAB98;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    font-size: 13px;
}

.card p{
        color: #000000;

}
.aa{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    gap: 20px;
}

.h2h{
    font-size: 40px;
    color: #0DAB98;
}