.head{

    position: relative ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    position: relative;
    max-width:55px ;
    left: 15px;
}

ul{
    position: relative;
    display: flex;
    font-weight: 400;
    left: -1300px;
}
ul li{
    list-style: none;
    
}
ul li a {
   display: inline-block;
   color: black;
   font-weight: 400;
   margin-left: 50px;
   text-decoration: none;
  
}